

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Best IT Job Offers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.Web.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <partial name="_NotificationsPartial"/>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <img src="/img/icons8-hired-64.png"/>
                <a class="navbar-brand text-primary text-xl-start" asp-area="" asp-controller="Home" asp-action="Index">Job.IT Portal - Seek or Offer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @*applicant/company*@
                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="All">All Job Offers</a>
                        </li>
                        <li class="nav-item">
                            @*applicant*@

                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="MyJobOffersAppliedFor">My Job Offers</a>
                        </li>
                        <li class="nav-item">
                            @*applicant*@

                            <a class="nav-link text-white" asp-area="" asp-controller="Company" asp-action="All">All Companies</a>
                        </li>
                        <li class="nav-item">
                            @*aaplicant*@

                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="All">Search Job</a>
                        </li>
                        <li class="nav-item">
                            @*company*@
                            <a class="nav-link text-white" asp-area="" asp-controller="Applicant" asp-action="All">All Applicants</a>
                        </li>
                        <li class="nav-item">
                            @*company*@
                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="MyPublishedJobOffers">My Published Job Offers</a>
                        </li>
                        <li class="nav-item">
                            @*company*@
                            <a class="nav-link text-white" asp-area="" asp-controller="JobOffer" asp-action="Add">Add Job Offer</a>
                        </li>
                        <li class="nav-item">
                            @*company*@
                            <a class="nav-link text-white" asp-area="" asp-controller="Applicant" asp-action="Search">Search Applicant</a>
                        </li>
                        <li class="nav-item">
                            @*applicationUser*@
                            <a class="nav-link text-white" asp-area="" asp-controller="Company" asp-action="Become">Become Recruiter</a>
                        </li>
                        <li class="nav-item">
                            @*applicationUser*@
                            <a class="nav-link text-white" asp-area="" asp-controller="Applicant" asp-action="Become">Become Applicant</a>
                        </li>
                      
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-white border-top footer text-muted" style="background-color: #caced1;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/img/topEmlpoyers/SoftUni.png"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/img/topEmlpoyers/dxc.png"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/img/topEmlpoyers/Indeavr.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/img/topEmlpoyers/SmartIT.jpg"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="/img/topEmlpoyers/Bosch.png"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-ripple-color="light">
                            <img src="~/img/topEmlpoyers/CocaCola.png"
                                 class="w-100" />
                            <a href="#!">
                                <div class="mask"
                                     style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Images -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © @DateTime.UtcNow.Date.Year - Job.IT.Portal
        </div>
       
    </footer>

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
