@using JobPortal.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{   

   <li class="nav-item">

            <button class="btn btn-primary" type="button" asp-area="Identity" asp-page="/Account/Register">Register</button>
   </li>
        @*<div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="nav-item">

                    <a class="nav-link text-dark text-sm-start" asp-area="Identity" asp-page="/Account/Register">Company</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-dark text-sm-start" asp-area="Identity" asp-page="/Account/Register">Applicant</a>
                </li>
            </ul>
        </div>*@
   
    <li class="nav-item">
            <button class="btn btn-primary" type="button" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
                Login
            </button>
            @*<a class="nav-link text-dark text-sm-start" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
    </li>
}
</ul>
