body {
    background-image: url("https://images.pexels.com/photos/921288/pexels-photo-921288.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

h1{
    color:palegoldenrod
}

label {
    color: palegoldenrod
}