html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:ghostwhite
}

body header nav {
        background-color:darkgoldenrod;
}

body  header  nav  a:hover {
        text-decoration:overline;
}


body > div > main > div > h2 {
        color: dodgerblue
}


