html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: ghostwhite;
    
}

body header nav {
        background-color:silver;
}

body  header  nav  a:hover {
        text-decoration:underline;
}


body > div > main > div > h2 {
        color: dodgerblue
}

body > footer > div.text-center.p-3{
    color:brown
}

    


