@{
    ViewData["Title"] = "Home Page Company";
}
<link rel="stylesheet" href="~/css/company.css" asp-append-version="true" />


<div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="~/img/carousel-IndexApplicant/carousel-2.jpg">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-10 col-lg-8">

                        <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Applicant For Job Offer</h1>

                        <a asp-controller="Applicant" asp-action="All" class="btn btn-primary py-md-3 px-md-5 animated slideInRight">Find a Talent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>