@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div class="has-bg-img text-center">
    <h2>WELCOME TO JOB PORTAL</h2>
    <h4><img src="~/img/icons8-checkbox-24.png" />  The Easiest Way to Get Your New Job</h4>
    <h4><img src="~/img/icons8-checkbox-24.png" />  Find Your Best Applicant</h4>
    <img class="bg-img" src="/img/Index.jpg" alt="...">
</div>


